@import url('https://fonts.cdnfonts.com/css/seven-segment');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Short+Stack&display=swap');

body {
  background-color: #181818;
  background-image: linear-gradient(180deg,rgba(22,22,21,.69),rgba(22,22,21,.69)),linear-gradient(270deg,#161615,#686868 50%,#161615);
  margin: 0px;
  font-family: 'Short Stack';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.display {
  color: #333;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px 14px;
  border: 1px solid #333;
  background-color: #ceceb6;
  font-family: 'Seven Segment', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.18);
  display: block;
  width: auto;
  max-width: 360px;
  border-radius: 4px;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 42%, rgba(0, 0, 0, 0.05) 0);
  box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, 0.55), -4px -4px 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 0 0 rgba(0, 0, 0, 0.31);
}

button, a.button, nav a {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat,sans-serif;
  box-sizing: border-box;
  padding: 9px 15px;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  height: 28px;
  display: inline-block;
  border-top: 1px solid hsla(0,0%,84.7%,.95);
  border-bottom: 1px solid rgba(0,0,0,.96);
  border-radius: 3px;
  background-color: #161615;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.12) 48%,transparent 52%),linear-gradient(180deg,#212121,#161615 87%,#3b3b3b 103%);
  box-shadow: 0 4px 3px 0 #000,0 1px 2px 0 #646464,1px 1px 5px 1px #161615;
  color: rgba(221,214,204,.72);
  line-height: 8px;
  font-weight: 700;
  text-align: center;
}
button.accent, a.button.accent, nav a.accent {
  background-color: #161615;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.12) 48%,transparent 52%),linear-gradient(180deg,#ffbb56,#b85a07 87%,#d5a865 103%);
  color: hsla(0,0%,100%,.67);
}
button.flat, a.button, nav a {
  margin-right: 0;
  margin-bottom: 2px;
  flex: 0 0 auto;
  border-top: 1px solid #d5a865;
  border-bottom: 1px solid rgba(55,55,55,.95);
  border-radius: 2px;
  background-image: none;
  background-color: #3b3b3b;
  color: #e7dac7;
  text-transform: uppercase;
}

button:hover, a.button:hover, nav a:hover {
	filter: brightness(1.5);
}
button:active, a.button:active, nav a:active {
	filter: brightness(.75);
}

header, footer {
  background-image: linear-gradient(#282828, #222222);
  border-top: 1px solid #424242;
  border-bottom: 2px solid #111;
  box-shadow: 0px 0px 4px #111 inset;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 961px) {
  header nav, .artist-list {
    margin-left: auto;
  }
}

header, footer, section {
  padding: 10px 5%;
}

hr {
  margin: 0px;
  border: none;
  height: 12px;
  background-image: linear-gradient(180deg,#ffbc58,#fff 10%,#fff 12%,#ffbc58),radial-gradient(circle farthest-corner at 50% 0,#d5a865,#c9640a);
}

#hero {
  min-height: 400px;
  background-size: cover;
}

article, p {
  max-width: 80ch;
}
